name: Public Beta Release

on:
  push:
    tags: '*.*.*-beta.*'
    paths-ignore:
      - "package.json"
      - "package-lock.json"
      - "*.md"

jobs:
  build-and-deploy:
    uses: ./.github/workflows/shared-build-and-deploy.yml
    with:
      node-version: 14.17.6
      registry-url: 'https://registry.npmjs.org'
      tag: beta
    secrets: inherit
