name: Public Beta Release

on:
  push:
    tags: '*.*.*-beta.*'
    paths-ignore:
      - "package.json"
      - "package-lock.json"
      - "*.md"

jobs:
  build-and-deploy:
    uses: ./.github/workflows/common-release.yml
    with:
      tag: beta
    secrets: inherit
