name: CI

on:
  pull_request:
    branches:
      - main
      - release/*

jobs:
  check-commit-message:
    name: Check Commit Message
    runs-on: ubuntu-latest
    steps:
      - name: Check JIRA ID
        uses: gsactions/commit-message-checker@v1
        with:
          pattern: '(\[?[A-Z]{1,5}-[1-9][0-9]*)|(\[AUTOMATED\])|(Merge)|(Release).+$'
          flags: 'gm'
          excludeDescription: 'true'
          checkAllCommitMessages: 'true'
          accessToken: ${{ secrets.PAT_ACTIONS }}
          error: 'One of your commit messages is not matching the format with JIRA ID Ex: ( SDK-123 commit message )'

  ci-checks:
    uses: ./.github/workflows/common-ci.yml
    with:
      node-version: 14.17.6
    secrets: inherit

