name: Common CI Workflow

on:
  workflow_call:
    node-version:
        required: true
        type: string

jobs:
  ci-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.17.6

      - name: Install Modules
        run: npm install

      - name: Run Tests
        env:
          SA_WITHOUT_CONTEXT: ${{ secrets.SA_WITHOUT_CONTEXT }}
          SIGNED_TOKEN_SA: ${{ secrets.SIGNED_TOKEN_SA }}
        run: npm run test

      - name: Upload Code Coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          token: ${{ secrets.CODECOV_REPO_UPLOAD_TOKEN }}
          files: coverage/lcov.info
          name: codecov-skyflow-node
          verbose: true

      - name: Build Project
        run: npm run build
