name: Internal Release

on:
  push:
    tags-ignore:
      - '*.*'
    paths-ignore:
      - 'package.json'
      - 'package-lock.json'
      - '*.md'
    branches:
      - release/*

jobs:
  call-common-workflow:
    uses: ./.github/workflows/common-release.yml
    with:
      tag: internal
    secrets: inherit
