name: Public Release

on:
  push:
    tags: '[0-9]+.[0-9]+.[0-9]+'
    paths-ignore:
      - "package.json"
      - "package-lock.json"
      - "*.md"

jobs:
  call-common-workflow:
    uses: ./.github/workflows/common-release.yml
    with:
      tag: public
    secrets: inherit
