name: Public Release

on:
  push:
    tags: '*.*.\d+'
    paths-ignore:
      - "package.json"
      - "package-lock.json"
      - "*.md"

jobs:
  call-common-workflow:
    uses: ./.github/workflows/release-sdk.yml
    with:
      registry-url: 'https://registry.npmjs.org'
      tag: public
    secrets: inherit
